*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Rajdhani',Poppins;
}
header
{
    position:sticky;
    top: 0;
    padding: 30px 20px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: first baseline;
    align-items: center;
    width: 100%;
}
body
{
  font-family:'Rajdhani',Poppins;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(128, 127, 163);  
}
li
{
    display: inline-block;
    padding:0 10px;
    font-size: 20px;
    font-family:'Rajdhani';
}
ul li a
{
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 10px 20px;
    font-family:'Rajdhani';

}

ul,li
{
        font-family:'Rajdhani',Poppins;
}

ul li a:hover
{
    border: 1px solid white;
    transition: 0.3s ease-in-out;
}
h1
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px 20px;
    text-align: center;
    text-transform:lowercase;
    font-weight: normal;
}
section
{
    padding: 10px 20px;
    width: 80%;
}

section fieldset li
{
    font-size: 30px;
      font-family:'Rajdhani',Poppins;
}
legend
{
    font-size: 30px;
    font-weight:900;
}
 p
{
    font-weight: normal;
    font-size: 20px;
    margin:10px 20px;
}
#liste 
{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
        font-family:'Rajdhani',Poppins;

}

#div1
{
    padding: 20px;
}
#div1 li
{
    font-weight:500;
    margin: 5px 0px;
}
#field
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   font-family:'Rajdhani';


}


.first1
{
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 1px black;
    padding: 30px;
    background-color: rgba(27, 94, 153, 0.089);
}

section a
{
    border: 1px solid black;
    padding:10px 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-radius: 6px;
    text-decoration: none;
}


#first1 p
{
    font-size: 20px;
}

footer
{
    background-color: rgb(8, 8, 41);
    width: 100%;
    padding: 10px 0px;
    position:sticky;
    bottom: 0;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}


strong
{
    animation:shine 1s alternate infinite ;
    color:green;
    font-size: 40px;
}
@keyframes shine {
    
    0%
    {
        color: rgb(20, 46, 196);
    }
  
}
@media screen and (max-width:500px){

    fieldset
    {
        padding: 0px;
    }
    section
    {
        padding: 10px 5px;
        width: 80%;
    }
    footer
    {
        flex-direction: column;
        position: relative;
    }
}