*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Rajdhani',Poppins ,sans-serif;
    user-select: none;
}
header
{
    position:sticky;
    top: 0;
    padding: 5px;
    background-color:black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}
body
{
  font-family:'Rajdhani',Poppins,sans-serif;
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 100vh;

}

#principale section
{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#typewriter
{
    font-size: 40px;
    padding: 20px 10px;
}

#logo
{
    width: 55px;
    cursor: pointer;
}
.liste
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.liste li
{
    margin: 0px 20px;
}
.liste  li a
{
    font-size: 15px;
    padding: 8px;
    border: 1px solid black;
    border-bottom: 1px solid gray;
    /* border-radius: 8px; */
    color: white;
    text-decoration: none;
     font-family:'Rajdhani',Poppins ,sans-serif;
     text-transform: capitalize;
}
.liste li a:hover
{
    border: 1px solid gray;
    transition: 0.3s;
    background-color: rgba(117, 117, 117, 0.192);
    border-radius: 6px;
}

#principale
{
    /* background-image: url("./image/wolf.svg"); */
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    width: 100%;
    min-height: 70vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
}

#h1
{
    font-size: 50px;
    animation: steve 1s alternate ease-in-out infinite;
}

footer
{
    background-color: rgb(20, 18, 46);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

.anime
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.guys
{
    padding: 50px 0;
}

#secondaire
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 70vh;
    background-color: rgb(11, 9, 32);
    padding: 20px;
    color: rgb(206, 191, 191);
}
.photo img
{
    width: 450px;
    border-radius: 1555px;
}
#secondaire li
{
    padding: 20px 0px;
    font-size: 30px;
    list-style: none;
}

#h2
{
    margin: 20px 0;
    font-size: 50px;
    animation: sorelo 1s infinite alternate ease-in-out;
    color: white;
}
strong
{
    text-transform: uppercase;
}


#secondaire img
{
    /* height: 600px; */
}
#projet
{
    color: white;
    min-height:70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first1
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    align-items: center;
    padding: 30px;
    margin: 20px;
    width: 310px;
    height: 290px;
    border-radius: 15px;
}

#projet-div
{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.title
{
    padding: 10px;
}

.describe
{
    margin: 10px;
    padding: 5px;
}

.link 
{
    border: 1px solid white;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}
#present
{
    font-size: 30px;
    margin: 20px;
}
.link a
{
    /* border: 1px solid white; */
    padding: 15px 20px;
    width: 500px;
    border-radius: 15px;
    color:rgb(185, 174, 185);
    text-decoration: none;
    
}


.link:hover
{
    cursor: pointer;
    /* box-shadow: 1px 1px 1px 1px white; */
    transform: scale(1.1);
    transition: 0.5s;
}

@keyframes sorelo {

    0%
    {
        scale: 1.04;
    }
    
}

.active
{
    left: 0;
    transition:0.4s;
}

@keyframes steve {

    0%{
         color: transparent;
    }
    30%
    {

    }
    
}

header button
{
    display: none;
}

@media screen and (max-width:800px){

    header button
    {
        display: block;
    }
    footer
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer p
    {
        margin: 10px;
        font-size: 18px;
    }
    #secondaire
    {
        flex-direction: column;
    }
    #secondaire img
    {
        width: 390px;
        border: 1px solid white;
    }
    #secondaire li
    {
        padding: 15px 0;
        font-size: 25px;
    }
    #h2
    {
        font-size: 40px;
    }
    strong{
        font-size: 25px;
    }
    #principale
    {
        flex-direction: column;
        min-height: 60vh;
        padding: 10px;
    }
    .anime
    {
        display: none;
    }

    #tetu
    {
        width:100%;
        padding: 0;
        margin:30px 0;
        border:1px solid transparent;
        border-radius: 60px;
        border: 1px solid gray;

    }
    header
    {
        padding: 15px;
        flex-direction: row-reverse;
        z-index: 2000;
        background-color: rgb(18, 18, 51);
        position: sticky;
        top: 0;
    }
    header img
    {
        border-radius: 100%;
        border: 1px solid gray;
    }
    header button
    {
        font-size: 35px;
        width:45px;
        height:50px;
        background-color: rgb(18, 18, 51);
        color: white;
        border: none;
        cursor: pointer;
    }
    #deuxieme
    {
        position:relative;
    }
    header ul
    {
       position: fixed;
       justify-content: space-evenly;
       flex-direction: column;
       background-color: rgb(31, 32, 43);
       left: 0;
       height: 400px;
       width:300px;
       border-radius:7px;
       left:-1500px;
    }
    header ul li
    {
        list-style: none;
        border: none;
    }
    header .liste li a{
        border: none;
        border: 1px solid rgb(255, 255, 255);
        padding: 15px 100px;
        text-transform:uppercase;
        border-radius: 10px;
    }
    #typewriter
    {
        font-size: 30px;
        /* padding: 5px 5px; */
    }

}

@media screen and (max-width:500px) {
    
    #secondaire img
    {
        width: 300px;
    }
    .first
    {
        margin: 20px 0;
    }
    header
    {
        padding:8px 5px;
    }

}